In [2]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [3]:
df_ords_prior=pd.read_csv(r'/Users/prateeksharma/Documents/Instacart Basket Analysis/02 Data/Original Data/orders_products_prior.csv', index_col=0)

In [4]:
path=r'/Users/prateeksharma/Documents/Instacart Basket Analysis'

In [5]:
path

'/Users/prateeksharma/Documents/Instacart Basket Analysis'

In [6]:
df_ords_prior=pd.read_csv(os.path.join(path,'02 Data','Original Data','orders_products_prior.csv'), index_col=0)

In [7]:
df_ords=pd.read_csv(os.path.join(path,'02 Data','Prepared Data','orders_checked.csv'), index_col=0)

In [8]:
df_ords_prior.head()

          product_id  add_to_cart_order  reordered
order_id
2              33120                  1          1
2              28985                  2          1
2               9327                  3          0
2              45918                  4          1
2              30035                  5          0

In [9]:
df_ords_prior.shape

(32434489, 3)

In [10]:
df_ords.shape

(3214874, 7)

In [11]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,2398795,1,2,3,7,15.0,196,1,1,both
1,1,2398795,1,2,3,7,15.0,10258,2,0,both
2,1,2398795,1,2,3,7,15.0,12427,3,1,both
3,1,2398795,1,2,3,7,15.0,13176,4,0,both
4,1,2398795,1,2,3,7,15.0,26088,5,1,both

In [13]:
df_merged_large['_merge'].value_counts()

_merge
both          30356421
left_only            0
right_only           0
Name: count, dtype: int64

In [14]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [25]:
df_merged_large.shape

(30356421, 11)